<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bridge Home</title>
  <link rel="stylesheet" href="../css/index.css">
</head>
<body>
  <nav>
    <a href="index.html">Home</a>
    <a href="tela1.html">Screen 1</a>
    <a href="tela2.html">Screen 2</a>
    <a href="https://www.google.com/">Link to Google</a>
  </nav>

  <main>
    <h1>Send/Receive Bridge</h1>
    <img src="../img/products/test.jpg" alt="Bridge Image" class="bridge-image">
    <p>`window.send.*` sends data to Python. `window.receive.*` registers a callback for data sent from Python.</p>
    <button onclick="callPython()">Send to Python</button>
    <button onclick="openTopLevel()">Open top level</button>
    <div id="result">Waiting for a call...</div>
  </main>
  <script src="../js/index.js"></script>
</body>
</html>
